<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Contable</title>
</head>
<body>
    <nav>
        <li>
            <a href="/catalogo_de_cuentas">Catalogo de cuentas</a>
        </li>
        <li>
            <a href="/librodiario">Libro Diario</a>
        </li>
        <li>
            <a href="/libromayor">Libro Mayor</a>
        </li>
        <li>
            <a href="/estadosfinancieros">Estados Financieros</a>
        </li>
        <li>
            <a href="/controldecostos">Control de costos</a>
        </li>
        <li>
            <a href="/cebito">Control de costos</a>
        </li>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>