{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constrol de Costos</title>
</head>
<body onload="obtenerDatos()">
    <div class="container">
        <div class="row">
            <h4 class="text-center">Asignaciones</h4>
        </div>
        <div class="row">
            <div class="col-sm">
                {% csrf_token %}
                <select name="empleados" id="empleados" class="form-select-sm" aria-label=".form-select-sm example" multiple>
                    {% for empleado in empleados %}
                    {% if empleado.puesto == 'Senior' or empleado.puesto == 'Junior' %}
                    <option value="{{ empleado.id }}">{{ empleado.puesto }} | {{ empleado.nombre }} | </t> {{ empleado.costo }} </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <button class="align-middle btn btn-info" onclick="moverOpciones ('empleados', 'asignaciones')">&gt;&gt;</button>
                <button class="align-middle btn btn-info" onclick="moverOpciones ('asignaciones', 'empleados')">&lt;&lt;</button>
            </div>
            <div class="col-sm">
                <form method="post" name="crear_orden" id="crear_orden" class="form">
                    <select name="asignaciones" id="asignaciones" class="form-select-sm" aria-label=".form-select-sm example" multiple>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h4 class="text-center">Costos Semanales</h4>
            <div class="col-sm">
                <h6>MOD: </h6><p id="mo_directa"></p>
                <h6>MOI: </h6><p id="mo_indirecta"></p>
                <h6>CIF: </h6><p id="cif"></p>
                <h6>Costo por linea de codigo: </h6><p id="costo_por_linea"></p>
            </div>
            <div class="col-sm">
                <label for="lineas_semana">Lineas Semana:</label>
                <input type="number" name="lineas_semana" class="form-control" placeholder="1" step="1" min="1" max="" required="" id="lineas_semana" value="" oninput="calcularCostos()">
                <h6>Tiempo estimado: </h6><p id="tiempo_estimado"></p>  
                <h6>Costo del producto: </h6><p id="costo_producto"></p>
                <h6>Precio de venta: </h6><p id="precio_venta"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <table id="estimacion" class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Modulo</th>
                    <th>Descripción</th>
                    <th>Optimista</th>
                    <th>Probable</th>
                    <th>Pesimista</th>
                    <th>Lineas Esperadas</th>
                    <th>Costo por Modulo</th>
                    <th> - </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button class="btn btn-success" onclick="agregarFila()">Agregar Modulo</button>
        <button class="btn btn-primary" onclick="enviarDatos()">Enviar Datos</button>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    var data = null;

    function moverOpciones (fromSelectId, toSelectId) {
        const fromSelect = document.getElementById(fromSelectId);
        const toSelect = document.getElementById(toSelectId);
        const selectedOptions = Array.from(fromSelect.selectedOptions);
        const mo_directa = document.getElementById('mo_directa');
        const mo_indirecta = document.getElementById('mo_indirecta');
        const mo_cif = document.getElementById('cif');
        const costo_por_linea = document.getElementById('costo_por_linea');

        let costo_directo = 0;
        let costo_indirecto = 0;
        let cif = 0;

        selectedOptions.forEach(option => {
            toSelect.appendChild(option);
        });

        const asignaciones = document.getElementById('asignaciones');
        const empleados =  asignaciones.getElementsByTagName('option');

        for (let i = 0; i < data.length; i++) {
            for(let e = 0; e < empleados.length; e++) {
                if(data[i].id == empleados[e].getAttribute('value'))
                    costo_directo += parseFloat(data[i].costo);
                else {
                    costo_indirecto += parseFloat(data[i].costo);
                    cif += parseFloat(data[i].costo) * 0.05;
                }
            }
        }
        mo_directa.innerText = costo_directo.toFixed(2);
        mo_indirecta.innerText = costo_indirecto.toFixed(2);
        mo_cif.innerText = cif.toFixed(2);
        calcularCostoLOC();
        calcularCostos();
    }

    function obtenerDatos() {
        $.ajax({
            url: "{% url 'get_empleados' %}",
            type: 'GET',
            success: function(response) {
                data = response;
                console.log(data[0]);
            },
            error: function(response) {
                console.log(response.responseJSON.errors)
            }
        });
        return false;
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function agregarFila() {
            const table = document.getElementById('estimacion').getElementsByTagName('tbody')[0];
            const newRow = table.insertRow();
            newRow.innerHTML = `
                <td contenteditable="true" class="editable"></td>
                <td contenteditable="true" class="editable"></td>
                <td contenteditable="true" class="editable" oninput="validarNumero(this)">0</td>
                <td contenteditable="true" class="editable" oninput="validarNumero(this)">0</td>
                <td contenteditable="true" class="editable" oninput="validarNumero(this)">0</td>
                <td contenteditable="false" class="" id="lineas_estimadas">0</td>
                <td contenteditable="false" class="" id="costo_estimado">0</td>
                <td><button class="btn btn-danger" onclick="eliminarFila(this)">Eliminar</button></td>
            `;
        }

        function eliminarFila(button) {
            const row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        function enviarDatos() {
            const table = document.getElementById('editableTable');
            const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            const datos = [];

            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                const fila = {
                    nombre: cells[0].innerText,
                    puesto: cells[1].innerText,
                    email: cells[2].innerText
                };
                datos.push(fila);
            }

            $.ajax({
                url: '/ruta-de-tu-vista/',
                type: 'POST',
                data: JSON.stringify(datos),
                contentType: 'application/json',
                success: function(response) {
                    alert('Datos enviados exitosamente');
                },
                error: function(error) {
                    console.log('Error:', error);
                }
            });
        }

        function validarNumero(cell) {

            const numberRegex = /^\d+$/; 
            const value = cell.innerText;
            
            if (!numberRegex.test(value)) {
                cell.innerText = value.slice(0, -1);
            }
            else {
                estimarLineas(cell);
                calcularCostos();
            }
        }

        function calcularCostos() {
            const lineas_semana = document.getElementById('lineas_semana');
            const mo_directa = document.getElementById('mo_directa');
            const mo_indirecta = document.getElementById('mo_indirecta');
            const mo_cif = document.getElementById('cif');
            const costo_por_linea = document.getElementById('costo_por_linea');
            const tiempo_estimado = document.getElementById('tiempo_estimado');
            const costo_estimado = document.getElementById('costo_producto');
            const precio_estimado  = document.getElementById('precio_venta');
            let tiempo = 0, precio_venta = 0, costo_producto = 0, totalLOC = 0, lineas_programadas = 0, precio_por_LOC = 0;
            precio_por_LOC = parseFloat(costo_por_linea.innerText) || 1;
            totalLOC = calcularTotalLOC() || 1;
            lineas_programadas = parseFloat(lineas_semana.value) || 1;

            tiempo = totalLOC / lineas_programadas;

            costo_producto = totalLOC * precio_por_LOC;
            precio_venta = costo_producto + costo_producto * 0.3;
            console.log("tiempo " + tiempo + " lineas_programadas " + lineas_programadas + " totalLOC " + totalLOC);
            costo_estimado.innerText = costo_producto.toFixed(2);
            tiempo_estimado.innerText = tiempo.toFixed(2).toString() + " semanas";
            precio_estimado.innerText = precio_venta.toFixed(2);
        }

        function estimarLineas(cell) {
            const row = cell.parentNode;
            const cells = row.getElementsByTagName('td');
            const costo_por_linea = document.getElementById('costo_por_linea');
            let estimacion = 0, optimista = 0, probable = 0, pesimista = 0,  costo_modulo = 0;
            optimista = parseFloat(cells[2].innerText);
            probable = parseFloat(cells[3].innerText);
            pesimista = parseFloat(cells[4].innerText);
            estimacion = (optimista + (4 * probable) + pesimista) / 6;
            cells[5].innerText = Math.round(estimacion);
            console.log(estimacion);
            calcularCostoModulos();
        }

        function calcularCostoModulos() {
            const table = document.getElementById('estimacion');
            const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            let estimadas = 0, costo_modulo = 0;

            for(let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                estimadas = parseFloat(cells[5].innerText);
                costo_modulo = estimadas * calcularCostoLOC();
                console.log(costo_modulo);
                cells[6].innerText = costo_modulo.toFixed(2);
            }
        }

        function calcularCostoLOC() {

            const table = document.getElementById('estimacion');
            const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            const mo_directa = document.getElementById('mo_directa');
            const mo_indirecta = document.getElementById('mo_indirecta');
            const mo_cif = document.getElementById('cif');
            const costo_por_linea = document.getElementById('costo_por_linea');

            let costos = 0;
            costos = parseFloat(mo_directa.innerText) + parseFloat(mo_cif.innerText) + parseFloat(mo_indirecta.innerText);

            let total_lineas_estimadas = 0, lineas_estimadas = 0, precio_por_linea = 0;

            total_lineas_estimadas = calcularTotalLOC();

            if(total_lineas_estimadas == 0)
                total_lineas_estimadas = 1;

            precio_por_linea = costos / total_lineas_estimadas;
            costo_por_linea.innerText = precio_por_linea.toFixed(2);

            return precio_por_linea;
        }

        function calcularTotalLOC() {
            const table = document.getElementById('estimacion');
            const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            let total_LOC = 0, lineas_estimadas = 0;

            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                lineas_estimadas = parseFloat(cells[5].innerText) || 0;
                total_LOC += lineas_estimadas;
            }
            return total_LOC;
        }
    </script>  
</html>
{% endblock %}