{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Agregar Empleado</title>
    </head>
    <body onload="main()">
        <hr class="my-4">
        <div class="container">
            <h1 style="text-align: center;">Control de Mano de Obra</h1>
        </div>
        <hr class="my-4">
        <div class="container">
            <h5 class="text-center">Agregar Empleado</h5>
            <form method="post" id="agregar_empleado" name="agregar_empleado" class="form-inline">
                <div class="form-group mb-2">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" form="agregar_empleado" class="btn btn-primary ml-3 mt-1">Guardar</button>
                    <button type="reset" form="agregar_empleado" class="btn btn-secondary ml-3 mt-1">Limpiar</button>
                </div>
            </form>
        </div>
        <hr class="my-4">
        <div class="container">
            <div class="table-responsive p-3 mb-3">
                <h3 class="text-center">Lista de Empleados</h3>
                <form method="post" id="tabla_empleados" name="tabla_empleados" action="costo_mano_obra/eliminar_empleado">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm">
                            <h5>Opciones</h5>
                            <button type="submit" form="tabla_empleados" class="btn btn-danger">Eliminar</button>
                            <button type="submit" form="tabla_empleados" class="btn btn-success" onclick="actualizar('costo_mano_obra/actualizar_empleado')">Actualizar</button>
                        </div>
                        <div class="col-sm">
                            <h6>Total de costos: </h6><p id="total_costos"></p>
                            <h6>Factor de Recargo: </h6><p id="factor_recargo"></p>                     
                        </div>
                        <div class="col-sm">
                            <h6>Factor de Recargo con Eficiencia: </h6><p id="factor_recargo_eficiencia"></p>
                            <h6>Eficiencia: </h6><p id="eficiencia">85%</p>
                        </div>
                    </div>
                    <table class="table table-striped table-hover" id="costo_directo">
                        <thead>
                            <tr>
                                <th scope="col">Select</th>
                                <th scope="col" id="nombre">Nombre</th>
                                <th scope="col" id="puesto">Puesto</th>
                                <th scope="col" id="salario">Salario Nominal</th>
                                <th scope="col" id="salario">Salario Cancelado</th>
                                <th scope="col" id="vacaciones">Vacaciones</th>
                                <th scope="col" id="aguinaldo">Aguinaldo</th>
                                <th scope="col" id="septimo">Desembolso Semanal</th>
                                <th scope="col" id="isss">ISSS</th>
                                <th scope="col" id="afp">AFP</th>
                                <th scope="col" id="insaforp">INSAFORP</th>
                                <th scope="col" id="costo">Costo Semanal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in empleados %}
                            <tr>
                                <td><input type="radio" name="id" value="{{ empleado.id }}" checked></td>
                                <td>{{ empleado.nombre }}</td>
                                <td>{{ empleado.puesto }}</td>
                                <td>{{ empleado.nominal }}</td>
                                <td>{{ empleado.salario }}</td>
                                <td>{{ empleado.vacaciones }}</td>
                                <td>{{ empleado.aguinaldo }}</td>
                                <td>{{ empleado.septimo }}</td>
                                <td>{{ empleado.isss }}</td>
                                <td>{{ empleado.afp }}</td>
                                <td>{{ empleado.insaforp }}</td>
                                <td>{{ empleado.costo }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    <hr class="my-4">
    <div class="container">
        <h3 class="text-center">Mano de Obra Indirecta</h3>
        <div class="row">
            <h5 class="text-center">Resumen</h5>
        </div>
        <div class="row">
            <div class="col-sm">
                <h6>Total de CIF: </h6><p id="total_cif"></p>
                <h6>Total de Mano de Obra Indirecta - MOI: </h6><p id="total_moi"></p>
            </div>
        </div>
        <div class="table-responsive p-3 mb-3">
            <form method="post" id="tabla_empleados" name="tabla_empleados" action="">
                {% csrf_token %}
                <table class="table table-striped table-hover" id="costo_indirecto">
                    <thead>
                        <tr>
                            <th scope="col" id="nombre">Nombre</th>
                            <th scope="col" id="puesto">Puesto</th>
                            <th scope="col" id="salario">Salario Nominal</th>
                            <th scope="col" id="costo_mensual">Costo Mensual</th>
                            <th scope="col" id="cif">CIF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empleado in empleados %}
                        {% if empleado.puesto != 'Senior' and empleado.puesto != 'Junior' %}
                        <tr>
                            <td>{{ empleado.nombre }}</td>
                            <td>{{ empleado.puesto }}</td>
                            <td>{{ empleado.nominal }}</td>
                            <td>{{ empleado.salario }}</td>
                            <td>{{ empleado.costo_mensual }}</td>
                            <td></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                </form>
            </form>
        </div>
    </div>
</body>
    <script>
        function main() {
            calcularCostos();
            calcularCIF();
        }

        function actualizar(action) {
            var form = document.getElementById("tabla_empleados");
            form.action = action;
            form.attributes.getNamedItem("method") = "get";
        }

        function calcularCIF() {
            const table = document.getElementById('costo_indirecto');
            const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            const node_total_cif = document.getElementById('total_cif');
            const node_total_moi = document.getElementById('total_moi');
            let costo_mensual= 0, cif = 0, total_cif = 0, total_moi = 0, moi = 0;

            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                costo_mensual = parseFloat(cells[3].innerText) || 0;
                moi =costo_mensual;
                cif = costo_mensual * 0.05;
                cells[4].innerText = cif;
                total_cif += cif;
                total_moi += moi;
            }
            node_total_cif.innerText = total_cif.toFixed(2);
            node_total_moi.innerText = total_moi.toFixed(2);
        }

        function calcularCostos() {
            const table = document.getElementById('costo_directo');
            const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            const node_total_costos = document.getElementById('total_costos');
            const node_factor_recargo = document.getElementById('factor_recargo');
            const node_factor_recargo_eficiencia = document.getElementById('factor_recargo_eficiencia');
            
            let costo_semanal= 0, total_costo = 0, factor_recargo = 0, factor_recargo_eficiencia = 0;
            const aux = rows[0].getElementsByTagName('td');
            factor_recargo = parseFloat(aux[11].innerText) / (parseFloat(aux[3].innerText) * 5);
            factor_recargo_eficiencia = (factor_recargo / 0.85);

            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                costo_semanal = parseFloat(cells[11].innerText) || 0;
                total_costo += costo_semanal;
                cif = costo_semanal * 0.05;
            }
            node_total_costos.innerText = total_costo.toFixed(2);
            node_factor_recargo.innerText = factor_recargo.toFixed(2);
            node_factor_recargo_eficiencia.innerText = factor_recargo_eficiencia.toFixed(2);
        }
    </script>
</html>
{% endblock %}